<html>
    <head>
        {% if title %}
        <title>{{ title }} - DPDSS</title>
        {% else %}
        <title>DPDSS</title>
        {% endif %}
    </head>
    <body>
        <div>
            DPDSS:
	    <a href="{{ url_for('main_bp.index') }}">Home</a>
	    {% if current_user.is_anonymous %}
	    <a href="{{ url_for('auth_bp.login') }}">Login</a>
	    {% else %}
	    <a href="{{ url_for('main_bp.logout') }}">Logout</a>
	    {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
